.card {
  border-radius: 10px;
  background-color: rgb(47, 41, 58);
  width: 700rpx;
  overflow: hidden;
  margin-top: 40rpx;
}

.hover-card {
  width: 500rpx;
  margin-right: 30rpx;
}

.banner {
  width: 700rpx;
  height: 350rpx;
}

.info {
  margin: 30rpx;
}

.hover-banner {
  width: 500rpx;
  height: 250rpx;
}

.hover-info {
  position: absolute;
  top: 170rpx;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(0,0,0,.3);
  height: 80rpx;
}

.title {
  color: white;
  font-size: 38rpx;
  line-height: 42rpx;
  font-weight: 500;
}

.hover-title {
  color: #fff;
  font-size: 38rpx;
  line-height: 80rpx;
  font-weight: 500;
}

.desc {
  font-size: 30rpx;
  margin-top: 8rpx;
  color: #aaa;
}
