.home {
  align-items: center;
  padding-bottom: 40rpx;
}

.title {
  color: white;
  font-size: 46rpx;
  line-height: 46rpx;
  font-weight: 500;
  margin: 30rpx 0 0 30rpx;
}

.icon {
  width: 40rpx;
  height: 40rpx;
}